.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 1256px;
  max-width: 100vw;
}

.preloader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 1;
}
.preloader > div {
  margin: auto;
  margin-top: 45vh;
}


#map {
  width: 800px;
  height: 500px;
  max-width: 100vw;
  max-height: 50vh;
}

.inputE {
  width: 80px;
  min-width: 15vw;
}
